.saenimate.duration-half {
    animation-duration: .5s;
}

.saenimate.duration-1 {
    animation-duration: 1s;
}

.saenimate.duration-2 {
    animation-duration: 2s;
}

.saenimate.duration-3 {
    animation-duration: 3s;
}